@model IEnumerable<idpSpin.Models.Spin>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Servo1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Servo2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Servo3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Servo4)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Servo5)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Servo6)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Servo7)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Servo8)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Servo9)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Servo10)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Servo11)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Servo12)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Servo13)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Servo14)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Servo15)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Servo16)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Servo17)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Servo18)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HellingSensor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tijd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GeluidSensor)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Servo1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servo2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servo3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servo4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servo5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servo6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servo7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servo8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servo9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servo10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servo11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servo12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servo13)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servo14)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servo15)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servo16)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servo17)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servo18)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HellingSensor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tijd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeluidSensor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
